<!doctype html>
<html>
<head>
    <title>Roulette Machine</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <form action='game' method='POST'>
        <select name='guess'>
            <option selected disabled>Guess</option>
            <option value='black'>Black</option>
            <option value='red'>Red</option>
            <% for(var i=1; i < 37; i++) {%>
            <option value=<%= i %>><%= i %></option>
            <%}%>
        </select>

            <input type='number' step='10' min=10 name='bet'></input>

            <h1 id='total'>Win/Lose Amount: <%= data.total %></h1>

            <button type='submit' id='spin'>Spin</button>
        </form>
    </div>

    <footer>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Admin</a>
    </footer>

    <script src="main.js"></script>

</body>
</html>
